.card-span {
  grid-column: span 12;
}

.big-card-span {
  grid-column: span 12;
}

.medium-card-span {
  grid-column: span 12;
}

@media (min-width: 992px) {
  .card-span {
    grid-column: span 4;
  }

  .big-card-span {
    grid-column: span 7;
  }

  .medium-card-span {
    grid-column: span 5;
  }
}
